**.ear
**.jar
**.war

# Wrapper do Gradle precisa ir versionado (excecao ao **.jar acima)
!gradle/wrapper/gradle-wrapper.jar

**.gradle/
**.settings/
bin/
**/bin/
build/
**/build/
build/classes
build/sonar/
**/build/classes
**/build/tmp
ejbsrc/
**/ejbsrc/
buildGradle/
**/buildGradle/
datadictionary/*.xsd


**/node_modules
**/.idea
.idea
**/.run
.run
**/.vscode
.vscode
**/.project
.project
**/.settings
.settings
**/.ant/

# Ferramentas / OS
.claude/
.kotlin/
.DS_Store
**/.DS_Store
